@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageCourses</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <form method="post">
        <h3>Courses In Dept</h3>
        <div>
            <select name="CourseToRemove" multiple class="form-select">
                @foreach (var item in ViewBag.CoursesInDept)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <h3>Courses Not In Dept</h3>
        <div>
            <select name="CourseToAdd" multiple class="form-select">
                @foreach (var item in ViewBag.CoursesNotInDept)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <input type="submit" class="btn btn-warning" value="Change" />
    </form>
</body>
</html>
